{{/* <head>: meta tags, fonts, stylesheet. */}}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WHACK</title>

  <meta name="theme-color" content="#FF2492">
  <link rel="icon" type="image/png" href="{{ "img/pfp-round.png" | relURL }}">
  <meta property="og:title" content="WHACK">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ "img/pfp-round.png" | absURL }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
</head>
